{% extends 'blog/base.html' %}

{% block content %}
	<h1>category: {{category.category_name}} Details</h1>
	{% for post in category_posts %}		
		<div>
			<time class="date">
				{{ post.published_date }}
			</time>
			<h2><a href="{% url 'post_detail' post.pk %}" class="space">{{ post.title }}</a></h2>
			<p>{{ post.text|safe }}</p>
			Category: <a href="{% url 'category' post.category %}">{{post.category}}</a>						
			<ul>Tags:
				{% for tag in post.tag.all %}
				<a href="{% url 'tag' slug=tag.slug %}">
					<li>{{ tag.name }}</li>
				</a>
				{% endfor %}
			</ul>	
		</div>
	{% endfor %}
{% endblock %}